<div class="ong-co-noi">
    <img
        src="https://static-cmsads.admicro.vn/cmsads/2024/01/1280-1705399763351.jpeg"
        alt=""
        width="1280px"
        height="250px"
    />
</div>

<div class="on-top">
    <div class="header-dautien">
        <div class="content">
            <ul class="item">
                <li class="logo">
                    <img
                        src="/imgs/logottonew.svg"
                        alt=""
                        width="119px"
                        height="36px"
                    />
                </li>
                <li>
                    <i class="fa-solid fa-microphone-lines"></i>
                    Podcast
                </li>
                <li>
                    <i class="fa-brands fa-youtube"></i>
                    YouTube
                </li>
                <li>
                    <i class="fa-solid fa-lightbulb"></i>
                    Cần biết
                </li>
                <li>
                    <i class="fa-solid fa-box-open"></i>
                    Rao vặt
                </li>
                <li class="dang-nhap">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <i class="fa-regular fa-circle-user"></i>
                    <p>Đăng ký Tuổi Trẻ Sao</p>
                    <i class="fa-solid fa-circle-question"></i>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="nav-bar">
    <div class="content">
        <div class="lis-nav">
            <ul class="list-item">
                <li class="logo">
                    <i class="fa-solid fa-house"></i>
                </li>
                <li>VIDEO</li>
                <li>THỜI SỰ</li>
                <li>THẾ GIỚI</li>
                <li>PHÁP LUẬT</li>
                <li>KINH DOANH</li>
                <li>CÔNG NGHỆ</li>
                <li>XE</li>
                <li>DU LỊCH</li>
                <li>NHỊP SỐNG TRẺ</li>
                <li>VĂN HOÁ</li>
                <li>GIẢI TRÍ</li>
                <li>THỂ THAO</li>
                <li>GIÁO DỤC</li>
                <li>NHÀ ĐẤT</li>
                <li>SỨC KHOẺ</li>
                <li>GIẢ THẬT</li>
                <li>BẠN ĐỌC</li>
            </ul>
        </div>
    </div>
</div>
