<div class="ong-co-noi">
    <img
        src="https://static-cmsads.admicro.vn/cmsads/2024/01/1280-1705399763351.jpeg"
        alt=""
        width="1280px"
        height="250px"
    />
</div>

<div class="on-top">
    <div class="header-dautien">
        <div class="content">
            <ul class="item">
                <li class="logo">
                    <img
                        src="/imgs/logottonew.svg"
                        alt=""
                        width="119px"
                        height="36px"
                    />
                </li>
                <li>
                    <i class="fa-solid fa-microphone-lines"></i>
                    Podcast
                </li>
                <li>
                    <i class="fa-brands fa-youtube"></i>
                    YouTube
                </li>
                <li>
                    <i class="fa-solid fa-lightbulb"></i>
                    Cần biết
                </li>
                <li>
                    <i class="fa-solid fa-box-open"></i>
                    Rao vặt
                </li>
                <li class="dang-nhap">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <i class="fa-regular fa-circle-user"></i>
                    <p>Đăng ký Tuổi Trẻ Sao</p>
                    <i class="fa-solid fa-circle-question"></i>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="nav-bar">
    <div class="content">
        <div class="lis-nav">
            <ul class="list-item">
                <li class="logo">
                    <a href="/"><i class="fa-solid fa-house"></i></a>
                </li>
                <li><a href="/category/1">VIDEO</a></li>
                <li><a href="/category/2">THỜI SỰ</a></li>
                <li><a href="/category/3">THẾ GIỚI</a></li>
                <li><a href="/category/4">PHÁP LUẬT</a></li>
                <li><a href="/category/5">KINH DOANH</a></li>
                <li><a href="/category/6">CÔNG NGHỆ</a></li>
                <li><a href="/category/7">XE</a></li>
                <li><a href="/category/8">DU LỊCH</a></li>
                <li><a href="/category/9">NHỊP SỐNG TRẺ</a></li>
                <li><a href="/category/10">VĂN HOÁ</a></li>
                <li><a href="/category/11">GIẢI TRÍ</a></li>
                <li><a href="/category/12">THỂ THAO</a></li>
                <li><a href="/category/13">GIÁO DỤC</a></li>
                <li><a href="/category/14">NHÀ ĐẤT</a></li>
                <li><a href="/category/15">SỨC KHOẺ</a></li>
                <li><a href="/category/16">GIẢ THẬT</a></li>
                <li><a href="/category/17">BẠN ĐỌC</a></li>
            </ul>
        </div>
    </div>
</div>
